div.ui-block-a div {
    text-align: left;
    color: #bbb;
    font-size: large;
    font-weight: bold
}

div.ui-block-b div {
    text-align: center;
    color: #BBB;
    font-size: large;
    font-weight: bold
}

.ui-slider-range {
    background: #88ac0b;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0; 
}

#welcome {
    font-size: 36pt;
}

#subtitle {
    font-size: 20pt;
}